body {
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
}

#hero {
    min-height: 500px;
    display: flex;
    flex-direction: row;
    display: flex;
    background-color: aliceblue;
    text-align: center;
    padding: 75px 5% 75px 5%;
    justify-content: center;
    align-items: center;
}

.hero-container {
    max-width: 700px;
    margin: auto;
}

h1 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 10px;
}

.search-wrapper {
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 35px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    padding-left: 50px;
    position: relative;
}

p {
    margin: 10px 0px 20px 0px;
}

.main-logotype {
    width: 175px;
}

.small-icon-search-absolute {
    position: absolute;
    top: 40%;
    left: 25px;
    width: 15px;
    z-index: 1000;
}

.absolute-search-container {
    position: relative;
}
